
    <h3>Fees Structure:</h3>
    <style>
table, th, td {
  border:1px solid black;
}
</style>
<body>

<table style="width:50%">
  <tr>
    <td>CLASS/FORM</td>
    <td>FEE</td>
    <td>PAY</td>
  </tr>
  <tr>
    <td>Form 1</td>
    <td>50,000</td>
    <td><button type="button" style="color:green;">MPesa</button></td>
  </tr>
    <tr>
    <td>Form 2</td>
    <td>60,000</td>
    <td><button type="button" style="color:green">MPesa</button></td>
  </tr>
    <tr>
    <td>Form 3</td>
    <td>70,000</td>
    <td><button type="button" style="color:green;">MPesa</button></td>
  </tr>
    <tr>
    <td>Form 4</td>
    <td>80,000</td>
    <td><button type="button" style="color:green;">MPesa</button></td>
  </tr>

</table>



</body>
</html>






